body{
    background-color: #66cdab26;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: slateblue;
    padding: 20px;  
    box-shadow: 10px 2px 9px #9c9c9c;

  

    
    
}

nav{
    display: flex;
    justify-content: space-between;
   

    div{
        display: flex;
        gap: 20px;
    } 
    
    button{
        border: none;
        border-radius:5px;
        padding: 10px 25px; 
        cursor: pointer;
    }



}


        .cta-button{
            background-color: green;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            font-weight: bolder;
            

            &:hover{
                background-color: rgba(255, 192, 203, 0.223);
                color: rgb(255, 0, 13);
            }
        }

#container{
    /* background-image: url("images/restaurant\ bg.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 0.3;
    margin-top: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    text-align: justify;

    h1{
        font-weight: bolder;
        font-size: 4rem;
        color: #420303;
    }

    p{
        font-size: 1.1rem;
    }

    #home-cta{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        

        
    }
}

fieldset{
    border-radius: 15px;
    border: none;
    box-shadow: 2px 4px 9px #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover{
        scale: 1.1;
    }

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .food-image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    button{
       margin-top: 10px;
    }
}
.logo{
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 50%;
   
}
.hero{
    text-align: center;
    margin-top: 50px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    color: white;
    
    margin-top: 172px;

}

.about-logo{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    margin-top: -50px;
}

form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
     box-shadow: 0px 1px 9px #9c9c9c;
    width: 400px;
    border: none;
    border-radius: 15px;
    
    input{
        width: 205px;
        display: block;
        margin-bottom: 10px;
    }

   textarea{

    width: 200px;
    
   }
   
   .submit{
    margin-top: 10px;
   }
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlogo{
    width: 35px;
    height: 35px;
    cursor: pointer;
}